@import "../utils/colors";

// Color scheme of balls
$aButtonFirstList: (
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_flush_mahogany_approx, $color_cinnabar_approx), ($color_flush_mahogany_approx, $color_thunderbird_approx, $color_royal_purple_approx)),
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_niagara_approx, $color_boston_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_boston_blue_approx, $color_curious_blue_approx), ($color_boston_blue_approx, $color_boston_blue_approx, $color_royal_purple_approx)),
                (($color_flush_mahogany_approx, $color_cinnabar_approx), ($color_flush_mahogany_approx, $color_thunderbird_approx, $color_royal_purple_approx))
);



//---------------------------------------------------------------------------------------------
// containerSize - The Size (square) of the div containing menu
//---------------------------------------------------------------------------------------------
$containerSize: 500; // width of container

//---------------------------------------------------------------------------------------------
// Size of the centre button (square)
//---------------------------------------------------------------------------------------------
$baseButtonSize: 200; // width of center button


//---------------------------------------------------------------------------------------------
// First level flyout buttons size (square)
//---------------------------------------------------------------------------------------------
$firstLevelButtonSize: 160; // width of first level menu

//---------------------------------------------------------------------------------------------
// offset of inner circle of First level flyout buttons
//---------------------------------------------------------------------------------------------
$offset: 20; // offset of inner circle -fixed


//---------------------------------------------------------------------------------------------
// Second level flyout buttons size (square)
//---------------------------------------------------------------------------------------------
$secondLevelButtonSize: 90; // width of second level menu


//---------------------------------------------------------------------------------------------
// Number of First Level Flyout Buttons
//---------------------------------------------------------------------------------------------
$numberOfMenus: 5;


//---------------------------------------------------------------------------------------------
// Number of Second Level Flyout Buttons
//---------------------------------------------------------------------------------------------
$secondLevelNumberOfMenus: 3;

//---------------------------------------------------------------------------------------------
// Offset of the buttons 
//   for instance if there were 4 buttons at 0deg offset (and angleOfCoverage, below, where 360) 
//   the buttons would be at: 0, 90, 180, 270
//   at 45deg offset they would be at: 45, 135, 225, 315
//---------------------------------------------------------------------------------------------
$angleOffset: 90deg;

//---------------------------------------------------------------------------------------------
// The angle of coverage of the First Level buttons
//  How far arround the center the FirstLevelButtons are placed
//---------------------------------------------------------------------------------------------
$angleOfCoverage: 360;

//---------------------------------------------------------------------------------------------
// The angle of coverage of the Second Level buttons
//  How far arround the center the SecondLevelButtons are placed
//---------------------------------------------------------------------------------------------
$angleOfCoverageSecondLevel: 180;

//---------------------------------------------------------------------------------------------
// offset of inner circle of Second level flyout buttons
//---------------------------------------------------------------------------------------------
$inset_level: 20; // Border

//---------------------------------------------------------------------------------------------
// inset of of Second level flyout buttons with respect to center ball's circumference
//---------------------------------------------------------------------------------------------
$first_level_inset: -20;

//---------------------------------------------------------------------------------------------
// setting for fonts used
//---------------------------------------------------------------------------------------------
$font_0: Roboto;
$font_1: sans-serif;


