@import "../utils/colors";
//---------------------------------------------------------------------------------------------
//colors
//---------------------------------------------------------------------------------------------
//  ((main ball color, main ball hover color),
//          ( outside ball color,
//            outside ball centre color,
//            outside centre hover ball
//          )
//   ),

$aButtonFirstList: (

    (
      ($main_ball_color_1, $main_ball_hover_color_1),

      (
        $outside_ball_color_1,
        $outside_ball_centre_color_1,
        $outside_centre_hover_ball_1
      )
    )
    (
      ($main_ball_color_2, $main_ball_hover_color_2),

      (
        $outside_ball_color_2,
        $outside_ball_centre_color_2,
        $outside_centre_hover_ball_2
      )
    )
    (
      ($main_ball_color_3, $main_ball_hover_color_3),

      (
        $outside_ball_color_3,
        $outside_ball_centre_color_3,
        $outside_centre_hover_ball_3
      )
    )
    (
      ($main_ball_color_4, $main_ball_hover_color_4),

      (
        $outside_ball_color_4,
        $outside_ball_centre_color_4,
        $outside_centre_hover_ball_4
      )
    )
    (
      ($main_ball_color_5, $main_ball_hover_color_5),

      (
        $outside_ball_color_5,
        $outside_ball_centre_color_5,
        $outside_centre_hover_ball_5
      )
    )
    (
      ($main_ball_color_6, $main_ball_hover_color_6),

      (
        $outside_ball_color_6,
        $outside_ball_centre_color_6,
        $outside_centre_hover_ball_6
      )
    )
    (
      ($main_ball_color_7, $main_ball_hover_color_7),

      (
        $outside_ball_color_7,
        $outside_ball_centre_color_7,
        $outside_centre_hover_ball_7
      )
    )
    (
      ($main_ball_color_8, $main_ball_hover_color_8),

      (
        $outside_ball_color_8,
        $outside_ball_centre_color_8,
        $outside_centre_hover_ball_8
      )
    )
    (
      ($main_ball_color_9, $main_ball_hover_color_9),

      (
        $outside_ball_color_9,
        $outside_ball_centre_color_9,
        $outside_centre_hover_ball_9
      )
    )
);


//---------------------------------------------------------------------------------------------
// containerSize - The Size (square) of the div containing menu
//---------------------------------------------------------------------------------------------
$containerSize: 500;

//---------------------------------------------------------------------------------------------
// Size of the centre button (square)
//---------------------------------------------------------------------------------------------
$baseButtonSize: 200;

//---------------------------------------------------------------------------------------------
// First level flyout buttons size (square)
//---------------------------------------------------------------------------------------------
$firstLevelButtonSize: 160;

//---------------------------------------------------------------------------------------------
// offset of inner circle of First level flyout buttons
//---------------------------------------------------------------------------------------------
$offset: 20;

//---------------------------------------------------------------------------------------------
// Number of First Level Flyout Buttons
//---------------------------------------------------------------------------------------------
$numberOfMenus: 8;

//---------------------------------------------------------------------------------------------
// Offset of the buttons
//   for instance if there were 4 buttons at 0deg offset (and angleOfCoverage, below, where 360)
//   the buttons would be at: 0, 90, 180, 270
//   at 45deg offset they would be at: 45, 135, 225, 315
//---------------------------------------------------------------------------------------------

$angleOffset: 45deg;

//---------------------------------------------------------------------------------------------
// The angle of coverage of the First Level buttons
//  How far arround the center the FirstLevelButtons are placed
//---------------------------------------------------------------------------------------------
$angleOfCoverage: 360;

//---------------------------------------------------------------------------------------------
// Second level flyout buttons size (square)
//---------------------------------------------------------------------------------------------
$secondLevelButtonSize: 100;

//---------------------------------------------------------------------------------------------
// The angle of coverage of the Second Level buttons
//  How far arround the center the SecondLevelButtons are placed
//---------------------------------------------------------------------------------------------
$angleOfCoverageSecondLevel: 360;

//---------------------------------------------------------------------------------------------
// Number of Second Level Flyout Buttons
//---------------------------------------------------------------------------------------------
$secondLevelNumberOfMenus: 5;

//---------------------------------------------------------------------------------------------
// offset of inner circle of Second level flyout buttons
//---------------------------------------------------------------------------------------------
$inset_level: 20; // Inset of inner second level ball

//---------------------------------------------------------------------------------------------
// inset of of Second level flyout buttons with respect to center ball's circumference
//---------------------------------------------------------------------------------------------
$first_level_inset: -10;

//---------------------------------------------------------------------------------------------
// setting for fonts used
//---------------------------------------------------------------------------------------------
$font_0: Roboto;
$font_1: sans-serif;

.img_center {
  width: $secondLevelButtonSize * 1px;
  height: $secondLevelButtonSize * 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -($secondLevelButtonSize/2) * 1px;
  margin-top: -($secondLevelButtonSize/2) * 1px;
}
