//colors
$color_pickled_bluewood_approx: #34495e;
$color_submarine_approx: #bdc3c7;
$color_athens_gray_approx: #ecf0f1;
$color_flush_mahogany_approx: #c0392b;
$color_cinnabar_approx: #e74c3c;
$color_boston_blue_approx: #2980b9;
$color_curious_blue_approx: #3498db;
$color_niagara_approx: #16a085;
$color_mountain_meadow_approx: #1abc9c;
$color_tree_poppy_approx: #f39c12;
$color_corn_approx: #f1c40f;
$color_thunderbird_approx: #d62c1a;
$color_royal_purple_approx: rebeccapurple;

$skyblue_1: #87ceff;
$skyblue_2: #7ec0ee;
$skyblue_3: #6ca6cd;
$skyblue_4: #4a708b;
$skyblue: #87ceeb;
$darkorchid: #9932cc;
$darkorchid_1: #bf3eff;
$darkorchid_2: #b23aee;
$darkorchid_3: #9a32cd;
$darkorchid_4: #68228b;
$coral: #ff7f50;
$coral_1: #ff7256;
$coral_2: #ee6a50;
$coral_3: #cd5b45;
$coral_4: #8b3e2f;
$palevioletred: #db7093;
$palevioletred_1: #ff82ab;
$palevioletred_2: #ee799f;
$palevioletred_3: #cd6889;
$palevioletred_4: #8b475d;
$gray: #808080;
$gray_99: #fcfcfc;
$gray_98: #fafafa;
$gray_97: #f7f7f7;
$gray_95: #f2f2f2;
$blueviolet: #8a2be2;
$blue: #0000ff;
$blue_2: #0000ee;
$blue_3: #0000cd;
$blue_4: #00008b;
$darkolivegreen_1: #caff70;
$darkolivegreen_2: #bcee68;
$darkolivegreen_3: #a2cd5a;
$darkolivegreen_4: #6e8b3d;
$darkolivegreen: #556b2f;
$green_1: #00ff00;
$green_2: #00ee00;
$green_3: #00cd00;
$green_4: #008b00;
$green: #008000;
$royalblue: #4169e1;
$royalblue_1: #4876ff;
$royalblue_2: #436eee;
$royalblue_3: #3a5fcd;
$royalblue_4: #27408b;
$main_ball_color_1: #87ceff;
$main_ball_hover_color_1: #7ec0ee;
$outside_ball_color_1: #6ca6cd;
$outside_ball_centre_color_1: #4a708b;
$outside_centre_hover_ball_1: #87ceeb;
$main_ball_color_2: #9932cc;
$main_ball_hover_color_2: #bf3eff;
$outside_ball_color_2: #b23aee;
$outside_ball_centre_color_2: #9a32cd;
$outside_centre_hover_ball_2: #68228b;
$main_ball_color_3: #ff7f50;
$main_ball_hover_color_3: #ff7256;
$outside_ball_color_3: #ee6a50;
$outside_ball_centre_color_3: #cd5b45;
$outside_centre_hover_ball_3: #8b3e2f;
$main_ball_color_4: #db7093;
$main_ball_hover_color_4: #ff82ab;
$outside_ball_color_4: #ee799f;
$outside_ball_centre_color_4: #cd6889;
$outside_centre_hover_ball_4: #8b475d;
$main_ball_color_5: #808080;
$main_ball_hover_color_5: #fcfcfc;
$outside_ball_color_5: #fafafa;
$outside_ball_centre_color_5: #f7f7f7;
$outside_centre_hover_ball_5: #f2f2f2;
$main_ball_color_6: #8a2be2;
$main_ball_hover_color_6: #0000ff;
$outside_ball_color_6: #0000ee;
$outside_ball_centre_color_6: #0000cd;
$outside_centre_hover_ball_6: #00008b;
$main_ball_color_7: #caff70;
$main_ball_hover_color_7: #bcee68;
$outside_ball_color_7: #a2cd5a;
$outside_ball_centre_color_7: #6e8b3d;
$outside_centre_hover_ball_7: #556b2f;
$main_ball_color_8: #00ff00;
$main_ball_hover_color_8: #00ee00;
$outside_ball_color_8: #00cd00;
$outside_ball_centre_color_8: #008b00;
$outside_centre_hover_ball_8: #008000;
$main_ball_color_9: #4169e1;
$main_ball_hover_color_9: #4876ff;
$outside_ball_color_9: #436eee;
$outside_ball_centre_color_9: #3a5fcd;
$outside_centre_hover_ball_9: #27408b;