.img_center {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

body {
  background: #34495e;
}

h2 {
  font-family: Roboto, sans-serif;
  color: #bdc3c7;
  text-align: center;
  margin: 40px 0;
  font-size: 28px;
}

h3 {
  font-family: Roboto, sans-serif;
  color: color_submarine_approx;
  text-align: center;
  margin: 40px 0;
  font-size: 15px;
}

h3 a {
  color: black;
}

.center {
  display: block;
  margin: auto;
  width: 500px;
  position: relative;
}

img {
  border-radius: 50%;
  text-align: center;
}

.baseButton {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rebeccapurple;
  position: absolute;
  top: 110px;
  left: 150px;
  transition: all .3s ease;
}

.baseButton:hover {
  background: rebeccapurple;
}

.baseButton:hover .button1_1 {
  top: 143.74369px;
  left: 143.74369px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.baseButton:hover .button1_2 {
  top: 20px;
  left: 195px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.baseButton:hover .button1_3 {
  top: -103.74369px;
  left: 143.74369px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.baseButton:hover .button1_4 {
  top: -155.0px;
  left: 20.0px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.baseButton:hover .button1_5 {
  top: -103.74368px;
  left: -103.74369px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.baseButton:hover .button1_6 {
  top: 20.0001px;
  left: -154.99998px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.baseButton:hover .button1_7 {
  top: 143.74653px;
  left: -103.74301px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.baseButton:hover .button1_8 {
  top: 195.05271px;
  left: 20.01448px;
  transition: all .3s .0s ease;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.button1_1,
.button1_2,
.button1_3,
.button1_4,
.button1_5,
.button1_6,
.button1_7,
.button1_8 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all .3s .6s ease;
}

*[class*='button2_'] {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transition: all .3s .0s ease;
  transform: scale(0, 0);
  z-index: 1;
}

.button1_1 {
  background: #87ceff;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_1:hover {
  background: #7ec0ee;
  transition: all .3s .0s ease;
}

.button1_1:hover .button2_1_1 {
  top: 145.57036px;
  left: -13.64648px;
  background: #3498db;
  transform: scale(1, 1);
  background: #6ca6cd;
  border: 20px solid #4a708b;
}

.button1_1:hover .button2_1_1:hover {
  background: #87ceeb !important;
  z-index: 10;
}

.button1_1:hover .button2_1_2 {
  top: 90.80307px;
  left: 129.02717px;
  background: #3498db;
  transform: scale(1, 1);
  background: #6ca6cd;
  border: 20px solid #4a708b;
}

.button1_1:hover .button2_1_2:hover {
  background: #87ceeb !important;
  z-index: 10;
}

.button1_1:hover .button2_1_3 {
  top: -61.81165px;
  left: 121.02897px;
  background: #3498db;
  transform: scale(1, 1);
  background: #6ca6cd;
  border: 20px solid #4a708b;
}

.button1_1:hover .button2_1_3:hover {
  background: #87ceeb !important;
  z-index: 10;
}

.button1_1:hover .button2_1_4 {
  top: -101.36546px;
  left: -26.58783px;
  background: #3498db;
  transform: scale(1, 1);
  background: #6ca6cd;
  border: 20px solid #4a708b;
}

.button1_1:hover .button2_1_4:hover {
  background: #87ceeb !important;
  z-index: 10;
}

.button1_1:hover .button2_1_5 {
  top: 26.80377px;
  left: -109.82182px;
  background: #3498db;
  transform: scale(1, 1);
  background: #6ca6cd;
  border: 20px solid #4a708b;
}

.button1_1:hover .button2_1_5:hover {
  background: #87ceeb !important;
  z-index: 10;
}

.button1_2 {
  background: #9932cc;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_2:hover {
  background: #bf3eff;
  transition: all .3s .0s ease;
}

.button1_2:hover .button2_2_1 {
  top: 132.5833px;
  left: 85px;
  background: #3498db;
  transform: scale(1, 1);
  background: #b23aee;
  border: 20px solid #9a32cd;
}

.button1_2:hover .button2_2_1:hover {
  background: #68228b !important;
  z-index: 10;
}

.button1_2:hover .button2_2_2 {
  top: -7.02852px;
  left: 147.15919px;
  background: #3498db;
  transform: scale(1, 1);
  background: #b23aee;
  border: 20px solid #9a32cd;
}

.button1_2:hover .button2_2_2:hover {
  background: #68228b !important;
  z-index: 10;
}

.button1_2:hover .button2_2_3 {
  top: -109.28785px;
  left: 33.5887px;
  background: #3498db;
  transform: scale(1, 1);
  background: #b23aee;
  border: 20px solid #9a32cd;
}

.button1_2:hover .button2_2_3:hover {
  background: #68228b !important;
  z-index: 10;
}

.button1_2:hover .button2_2_4 {
  top: -32.87575px;
  left: -98.76091px;
  background: #3498db;
  transform: scale(1, 1);
  background: #b23aee;
  border: 20px solid #9a32cd;
}

.button1_2:hover .button2_2_4:hover {
  background: #68228b !important;
  z-index: 10;
}

.button1_2:hover .button2_2_5 {
  top: 116.61142px;
  left: -66.98635px;
  background: #3498db;
  transform: scale(1, 1);
  background: #b23aee;
  border: 20px solid #9a32cd;
}

.button1_2:hover .button2_2_5:hover {
  background: #68228b !important;
  z-index: 10;
}

.button1_3 {
  background: #ff7f50;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_3:hover {
  background: #ff7256;
  transition: all .3s .0s ease;
}

.button1_3:hover .button2_3_1 {
  top: 53.64648px;
  left: 145.57036px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee6a50;
  border: 20px solid #cd5b45;
}

.button1_3:hover .button2_3_1:hover {
  background: #8b3e2f !important;
  z-index: 10;
}

.button1_3:hover .button2_3_2 {
  top: -89.02717px;
  left: 90.80307px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee6a50;
  border: 20px solid #cd5b45;
}

.button1_3:hover .button2_3_2:hover {
  background: #8b3e2f !important;
  z-index: 10;
}

.button1_3:hover .button2_3_3 {
  top: -81.02897px;
  left: -61.81165px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee6a50;
  border: 20px solid #cd5b45;
}

.button1_3:hover .button2_3_3:hover {
  background: #8b3e2f !important;
  z-index: 10;
}

.button1_3:hover .button2_3_4 {
  top: 66.58821px;
  left: -101.36537px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee6a50;
  border: 20px solid #cd5b45;
}

.button1_3:hover .button2_3_4:hover {
  background: #8b3e2f !important;
  z-index: 10;
}

.button1_3:hover .button2_3_5 {
  top: 149.86879px;
  left: 26.81668px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee6a50;
  border: 20px solid #cd5b45;
}

.button1_3:hover .button2_3_5:hover {
  background: #8b3e2f !important;
  z-index: 10;
}

.button1_4 {
  background: #db7093;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_4:hover {
  background: #ff82ab;
  transition: all .3s .0s ease;
}

.button1_4:hover .button2_4_1 {
  top: -45px;
  left: 132.5833px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee799f;
  border: 20px solid #cd6889;
}

.button1_4:hover .button2_4_1:hover {
  background: #8b475d !important;
  z-index: 10;
}

.button1_4:hover .button2_4_2 {
  top: -107.15919px;
  left: -7.02852px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee799f;
  border: 20px solid #cd6889;
}

.button1_4:hover .button2_4_2:hover {
  background: #8b475d !important;
  z-index: 10;
}

.button1_4:hover .button2_4_3 {
  top: 6.41134px;
  left: -109.28784px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee799f;
  border: 20px solid #cd6889;
}

.button1_4:hover .button2_4_3:hover {
  background: #8b475d !important;
  z-index: 10;
}

.button1_4:hover .button2_4_4 {
  top: 138.76957px;
  left: -32.87355px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee799f;
  border: 20px solid #cd6889;
}

.button1_4:hover .button2_4_4:hover {
  background: #8b475d !important;
  z-index: 10;
}

.button1_4:hover .button2_4_5 {
  top: 107.59003px;
  left: 116.79684px;
  background: #3498db;
  transform: scale(1, 1);
  background: #ee799f;
  border: 20px solid #cd6889;
}

.button1_4:hover .button2_4_5:hover {
  background: #8b475d !important;
  z-index: 10;
}

.button1_5 {
  background: #808080;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_5:hover {
  background: #fcfcfc;
  transition: all .3s .0s ease;
}

.button1_5:hover .button2_5_1 {
  top: -105.57036px;
  left: 53.64648px;
  background: #3498db;
  transform: scale(1, 1);
  background: #fafafa;
  border: 20px solid #f7f7f7;
}

.button1_5:hover .button2_5_1:hover {
  background: #f2f2f2 !important;
  z-index: 10;
}

.button1_5:hover .button2_5_2 {
  top: -50.80307px;
  left: -89.02717px;
  background: #3498db;
  transform: scale(1, 1);
  background: #fafafa;
  border: 20px solid #f7f7f7;
}

.button1_5:hover .button2_5_2:hover {
  background: #f2f2f2 !important;
  z-index: 10;
}

.button1_5:hover .button2_5_3 {
  top: 101.81303px;
  left: -81.02865px;
  background: #3498db;
  transform: scale(1, 1);
  background: #fafafa;
  border: 20px solid #f7f7f7;
}

.button1_5:hover .button2_5_3:hover {
  background: #f2f2f2 !important;
  z-index: 10;
}

.button1_5:hover .button2_5_4 {
  top: 141.50066px;
  left: 66.62716px;
  background: #3498db;
  transform: scale(1, 1);
  background: #fafafa;
  border: 20px solid #f7f7f7;
}

.button1_5:hover .button2_5_4:hover {
  background: #f2f2f2 !important;
  z-index: 10;
}

.button1_5:hover .button2_5_5 {
  top: 19.10294px;
  left: 151.86951px;
  background: #3498db;
  transform: scale(1, 1);
  background: #fafafa;
  border: 20px solid #f7f7f7;
}

.button1_5:hover .button2_5_5:hover {
  background: #f2f2f2 !important;
  z-index: 10;
}

.button1_6 {
  background: #8a2be2;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_6:hover {
  background: #0000ff;
  transition: all .3s .0s ease;
}

.button1_6:hover .button2_6_1 {
  top: -92.5833px;
  left: -45.0px;
  background: #3498db;
  transform: scale(1, 1);
  background: #0000ee;
  border: 20px solid #0000cd;
}

.button1_6:hover .button2_6_1:hover {
  background: #00008b !important;
  z-index: 10;
}

.button1_6:hover .button2_6_2 {
  top: 47.02871px;
  left: -107.15915px;
  background: #3498db;
  transform: scale(1, 1);
  background: #0000ee;
  border: 20px solid #0000cd;
}

.button1_6:hover .button2_6_2:hover {
  background: #00008b !important;
  z-index: 10;
}

.button1_6:hover .button2_6_3 {
  top: 149.31496px;
  left: 6.41862px;
  background: #3498db;
  transform: scale(1, 1);
  background: #0000ee;
  border: 20px solid #0000cd;
}

.button1_6:hover .button2_6_3:hover {
  background: #00008b !important;
  z-index: 10;
}

.button1_6:hover .button2_6_4 {
  top: 74.4227px;
  left: 139.26477px;
  background: #3498db;
  transform: scale(1, 1);
  background: #0000ee;
  border: 20px solid #0000cd;
}

.button1_6:hover .button2_6_4:hover {
  background: #00008b !important;
  z-index: 10;
}

.button1_6:hover .button2_6_5 {
  top: -30.17719px;
  left: 124.71129px;
  background: #3498db;
  transform: scale(1, 1);
  background: #0000ee;
  border: 20px solid #0000cd;
}

.button1_6:hover .button2_6_5:hover {
  background: #00008b !important;
  z-index: 10;
}

.button1_7 {
  background: #caff70;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_7:hover {
  background: #bcee68;
  transition: all .3s .0s ease;
}

.button1_7:hover .button2_7_1 {
  top: -13.64646px;
  left: -105.57035px;
  background: #3498db;
  transform: scale(1, 1);
  background: #a2cd5a;
  border: 20px solid #6e8b3d;
}

.button1_7:hover .button2_7_1:hover {
  background: #556b2f !important;
  z-index: 10;
}

.button1_7:hover .button2_7_2 {
  top: 129.03195px;
  left: -50.80188px;
  background: #3498db;
  transform: scale(1, 1);
  background: #a2cd5a;
  border: 20px solid #6e8b3d;
}

.button1_7:hover .button2_7_2:hover {
  background: #556b2f !important;
  z-index: 10;
}

.button1_7:hover .button2_7_3 {
  top: 121.39954px;
  left: 101.9246px;
  background: #3498db;
  transform: scale(1, 1);
  background: #a2cd5a;
  border: 20px solid #6e8b3d;
}

.button1_7:hover .button2_7_3:hover {
  background: #556b2f !important;
  z-index: 10;
}

.button1_7:hover .button2_7_4 {
  top: -12.78516px;
  left: 146.34377px;
  background: #3498db;
  transform: scale(1, 1);
  background: #a2cd5a;
  border: 20px solid #6e8b3d;
}

.button1_7:hover .button2_7_4:hover {
  background: #556b2f !important;
  z-index: 10;
}

.button1_7:hover .button2_7_5 {
  top: 194.43154px;
  left: 140.05153px;
  background: #3498db;
  transform: scale(1, 1);
  background: #a2cd5a;
  border: 20px solid #6e8b3d;
}

.button1_7:hover .button2_7_5:hover {
  background: #556b2f !important;
  z-index: 10;
}

.button1_8 {
  background: #00ff00;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}

.button1_8:hover {
  background: #00ee00;
  transition: all .3s .0s ease;
}

.button1_8:hover .button2_8_1 {
  top: 85.00072px;
  left: -92.58314px;
  background: #3498db;
  transform: scale(1, 1);
  background: #00cd00;
  border: 20px solid #008b00;
}

.button1_8:hover .button2_8_1:hover {
  background: #008000 !important;
  z-index: 10;
}

.button1_8:hover .button2_8_2 {
  top: 147.23938px;
  left: 47.05129px;
  background: #3498db;
  transform: scale(1, 1);
  background: #00cd00;
  border: 20px solid #008b00;
}

.button1_8:hover .button2_8_2:hover {
  background: #008000 !important;
  z-index: 10;
}

.button1_8:hover .button2_8_3 {
  top: 37.40283px;
  left: 150.58343px;
  background: #3498db;
  transform: scale(1, 1);
  background: #00cd00;
  border: 20px solid #008b00;
}

.button1_8:hover .button2_8_3:hover {
  background: #008000 !important;
  z-index: 10;
}

.button1_8:hover .button2_8_4 {
  top: 1.72247px;
  left: 112.64652px;
  background: #3498db;
  transform: scale(1, 1);
  background: #00cd00;
  border: 20px solid #008b00;
}

.button1_8:hover .button2_8_4:hover {
  background: #008000 !important;
  z-index: 10;
}

.button1_8:hover .button2_8_5 {
  top: 1643.5519px;
  left: 697.0837px;
  background: #3498db;
  transform: scale(1, 1);
  background: #00cd00;
  border: 20px solid #008b00;
}

.button1_8:hover .button2_8_5:hover {
  background: #008000 !important;
  z-index: 10;
}